In [2]:
import pandas as pd
import plotly.express as px
import plotly

In [3]:
df = pd.read_csv('Jakarta COVID-19 Cases Kecamatan (25-Mar-20 to 03-Aug-21).csv')
df.head()

,period,kecamatan,date,positive,hospitalized,recovered,selfisolation
0,1,GAMBIR,25/03/2020,1,1,0,0
1,1,GROGOL PETAMBURAN,25/03/2020,16,14,0,2
2,1,JAGAKARSA,25/03/2020,8,4,0,3
3,1,JATINEGARA,25/03/2020,2,2,0,0
4,1,JOHAR BARU,25/03/2020,5,1,1,2

In [5]:
fig=px.choropleth(df,
             geojson="https://gist.githubusercontent.com/ardhiarsala/ae602b0b3940b70b6efd0e0867e56b7e/raw/e50092ecd2d6cac4a63d6dfd42b75bf8fa060641/Jakartadistricts.geojson",
             featureidkey='properties.kec_up',   
             locations='kecamatan',        #column in dataframe
              animation_frame='date',       #dataframe
              color='positive',  #dataframe
              color_continuous_scale='ice_r',
               title='DKI Jakarta Cumulative COVID-19 Cases per Kecamatan' ,  
               height=700
              )
fig.update_geos(fitbounds="locations", visible=False)
plotly.offline.plot(fig,filename='choropleth.html')

'choropleth.html'